#btn-evaluation {
  float: right;
}

table th {
  width: 110px;
}

.review-show a {
  text-decoration: none;
  color: #000000;
}

.review-show a:hover {
  color: rgb(85, 85, 235);
  text-decoration: underline;
  text-decoration-color: rgb(85, 85, 235);
}